@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .button,
    button {
        @apply font-roboto font-black italic uppercase;
    }
}

.title {
    @apply font-roboto font-black italic;
}

.errors {
    @apply text-red-500 text-sm italic mt-0.5;
}

.animate {
    transition-delay: 0.1s;
    transition-duration: 0.7s;
    transition-timing-function: ease-in;
}

.slide-up {
    transform: translateY(50px);
}

.slide-up.animate-active {
    transform: translateY(0px);
}

.slide-left {
    /* transform: translateX(50px); */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(110%);
}

.slide-left.animate-active {
    transform: translateX(0px);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}
.fade-enter,
.fade-leave-active {
    opacity: 0;
    will-change: opacity;
}
